@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorAppTheme.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
 *@
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Template</title>
    <base href="/" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://spruko.com/demo/tailwind/ynex/blazor/dist/assets/images/brand-logos/favicon.ico">

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Style Css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Node Waves Css -->
    <link href="assets/libs/node-waves/waves.min.css" rel="stylesheet">

    <!-- Simplebar Css -->
    <link rel="stylesheet" href="assets/libs/simplebar/simplebar.min.css">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="assets/libs/%40simonwep/pickr/themes/nano.min.css">
    <HeadOutlet />
</head>
<body>
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
    <!-- Switch JS -->
    <script src="assets/js/switch.js"></script>
    <!-- Preline JS -->
    <script src="assets/libs/preline/preline.js"></script>
   <!-- popperjs -->
    <script src="assets/libs/%40popperjs/core/umd/popper.min.js"></script>
    <!-- Node Waves JS-->
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <!-- Color Picker JS -->
    <script src="assets/libs/%40simonwep/pickr/pickr.es5.min.js"></script>
    <!-- sidebar JS -->
    <script src="assets/js/defaultmenu.js"></script>
    <!-- sticky JS -->
    <script src="assets/js/sticky.js"></script>
    <!-- Simplebar JS -->
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <!-- JSVector Maps JS -->
    <script src="assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <!-- JSVector Maps MapsJS -->
    <script src="assets/libs/jsvectormap/maps/world-merc.js"></script>
    <!-- Apex Charts JS -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
    <!-- Chartjs Chart JS -->
    <script src="assets/libs/chart.js/chart.min.js"></script>
    <!-- CRM-Dashboard -->
    <script src="assets/js/crm-dashboard.js"></script>
    <!-- Custom-Switcher JS -->
    <script src="assets/js/custom-switcher.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
</body>
</html>